<%- contentFor('title') %>
My Blog

<%- contentFor('main') %>
<h1>Welcome to my blog</h1>
<p>Here are the posts:</p>
<ul>
    <% posts.forEach(post => { %>
    <li>
        <a href="/blog/<%- post.id %>"><%- post.title %></a>
    </li>
    <% }) %>
</ul>